extends slrbase

block content
  form.box.forgot-box
    h1 Reset
    p Enter Your email id to reset your password
    input#email(type="text" name="" placeholder="Email ID")
    input(type="submit" name="" value="Continue")
    p(style="color: black; margin-top: 20px; cursor: pointer;")
      | Know Password 
      b(style="color: #6A4C96;")
        a(href="/") Login?