body {
  margin: 0;
  padding: 0;
  background: url('/img/blog/background_violet.png') no-repeat center center
    fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: -1;
  left: -5;
  background-repeat: no-repeat;
}

.mainheading {
  color: white;
  font-size: 36px;
  font-family: 'Varela Round';
  margin-top: 70px;
  margin-left: 150px;
  font-weight: bold;
  position: absolute;
}

.navbar {
  position: absolute;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 30px;
  padding: 0;
  padding-top: 10px;
  width: 50px;
  height: 600px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  background-color: #21033b;
}

.navimage {
  width: 20px;
  height: 20px;
  display: block;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .navimage :hover{
  background-color:#55396D;
  color: white;
  display: block;
} */

ul li .navimage:hover {
  background-color: #55396d;
  color: white;
  display: block;
}

.complaintcard {
  width: 500px;
  height: 90%;
  margin-top: 30px;
  margin-right: 30px;
  position: absolute;
  right: 0;
}

.maincardcontainer {
  padding: 2px 16px;
}

.ccardhead {
  color: black;
  font-size: 40px;
  margin-bottom: 4px;
  text-align: start;
  margin-left: 50px;
  font-family: 'Varela Round';
  font-weight: 500;
}

.complaintcard:hover .ccardhead {
  color: #ffd800;
}

.complaintcard:hover .ccardpara {
  color: #ffd800;
}

.complaintcard:hover .dropdown {
  background-color: #6a4c96;
  color: white;
  border-color: #6a4c96;
}

.complaintcard:hover .dropdown-select {
  background-color: #6a4c96;
  color: white;
  border-color: #6a4c96;
}

.ccardpara {
  color: black;
  font-size: 12px;
  margin-bottom: 4px;
  text-align: start;
  margin-left: 50px;
  font-family: 'Varela Round';
}

.ccardtitle {
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background-color: white;
  display: block;
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 8px;
  text-align: left;
  border: 1px solid lightpink;
  width: 400px;
  height: 42px;
  outline: none;
  color: black;
  border-radius: 8px;
}

.ccardmsg {
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background-color: white;
  display: block;
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 8px;
  text-align: start;
  border: 1px solid lightpink;
  width: 400px;
  height: 300px;
  outline: none;
  color: black;
  border-radius: 8px;
}

.ccardbtn {
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background: white;
  display: block;
  margin: 20px auto;
  position: absolute;
  margin-right: 28px;
  right: 0;
  text-align: center;
  border: 2px solid lightpink;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 12px;
  cursor: pointer;
}

.box input[type='submit']:hover {
  background: lightpink;
  color: white;
}

.container {
  width: 200px;
  margin-left: 20px;
  margin: 0px;
  text-align: center;
}

.container > .dropdown {
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 35px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  color: black;
  font-family: 'Varela Round';
  background: white;
  border: 1px solid;
  border-color: #6a4c96;
  border-radius: 8px;
}

.dropdown:before,
.dropdown:after {
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 1px dashed;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  font-family: 'Varela Round';
  line-height: 14px;
  font-size: 12px;
  color: black;
  background: white;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: black;
  outline: 0px solid #6a4c96;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  font-family: 'Varela Round';
  color: black;
  text-shadow: none;
  background: white;
  border: #6a4c96 solid;
  outline: 1px solid #6a4c96;
  border-radius: 8px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.complaintcards {
  margin-top: 150px;
  margin-left: 150px;
  position: absolute;
}

.compcard {
  box-shadow: 0 4px 8px 0 white;
  background-color: white;
  transition: 0.3s;
  width: 700px;
  height: 500px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  margin: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.compcard::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

.eachcompcard {
  transition: 0.3s;
  background-color: lightpink;
  width: 600px;
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.complaintcardname {
  margin: 0px;
  margin-left: 8px;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-family: 'Varela Round';
  font-size: 14px;
  color: white;
}

.complaintcardtag {
  margin: 0px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: 'Varela Round';
  font-size: 10px;
  color: white;
}

.complaintcardmsg {
  margin: 0px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  font-family: 'Varela Round';
  font-size: 12px;
  color: white;
}

.eleblogcard {
  transition: 0.3s;
  background-color: lightpink;
  width: 90%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eleblogcardname {
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Varela Round';
  font-size: 18px;
  color: white;
}

.eleblogcardmsg {
  margin: 0px;
  font-family: 'Varela Round';
  font-size: 16px;
  color: white;
}

.morebtn:before {
  background: url('/img/blog/more.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  background-color: #ffb6c1;
  border: none;
}

.morebtn {
  font-family: 'Varela Round';
  width: 90px;
  height: 20px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #ffb6c1;
  outline: none;
}

.morebtn :after {
  border: none;
}

.upvotebtn:before {
  background: url('/img/blog/upvote.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  padding-bottom: 2px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 15px;
  background-color: #bea6d4;
  border: none;
}

.upvotebtn {
  margin-left: 12px;
  border-radius: 4px;
  padding-top: 4px;
  font-family: 'Varela Round';
  width: 90px;
  height: 28px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #bea6d4;
  outline: none;
}

.upvotebtn :after {
  border: none;
}

.allcomments {
  width: 90%;
  position: relative;
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.cmt {
  display: block;
  position: relative;
  margin-top: 12px;
  /* width: 90%; */
  background-color: white;
  color: white;
  border-radius: 5px;
}

.cmt-content {
  /* position: absolute;
  float: left; */
  width: 90%;
  background-color: #bea6d4;
  border-radius: 4px;
  padding: 0px 3px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.cmttext {
  padding: 8px;
  width: 75%;
  margin-left: 8px;
  border: 0;
  font-family: 'Varela Round';
  font-size: 14px;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.cmtbtn {
  width: 15%;
  padding: 6px;
  margin-right: 5%;
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background: white;
  float: right;
  display: block;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.cmtbtn:hover {
  color: white;
  background-color: #79648d;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

.modal-content::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 60%;
  text-align: center;
}

.alertbg {
  width: 75%;
  height: 42px;
  margin-right: 50%;
  margin-left: 50%;
  border-radius: 36px;
  background-color: #21033b;
  margin-bottom: 24px;
  line-height: 42px;
}

.alertpara {
  font-family: sans-serif;
  color: white;
  vertical-align: middle;
}
