body {
  margin: 0;
  padding: 0;
}

.homebackground {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 500px;
  width: 500px;
}

.navimage {
  width: 20px;
  height: 20px;
  display: block;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* .navimage :hover{
  background-color:#55396D;
  color: white;
  display: block;
} */

ul li .navimage:hover {
  background-color: #55396d;
  color: white;
  display: block;
}

.maincard {
  width: 250px;
  height: 110px;
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 #bea6d4;
  border-radius: 10px;
  position: absolute;
  right: 0;
  text-align: center;
}

.maincardimg {
  width: 70px;
  height: 70px;
  margin: 20px;
}

.maincardcontainer {
  padding: 2px 16px;
}

.maincardpara {
  font-size: 16px;
  font-family: 'Varela Round';
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #21033b;
  text-align: left;
}

.maincard:hover {
  box-shadow: 0 8px 16px 0 #ffd800;
}

.maincard:hover .maincardpara {
  color: #ffd800;
}

.cards {
  margin-top: 125px;
  margin-left: 100px;
  position: absolute;
}

.card {
  box-shadow: 0 4px 8px 0 #bea6d4;
  transition: 0.3s;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}

.card:hover .cardpara {
  color: #ffd800;
}

.cardimg {
  border-radius: 5px 5px 0 0;
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.container {
  padding: 2px 16px;
}

.cardhead {
  font-size: 24px;
  font-family: 'Varela Round';
  margin-top: 4px;
  margin-bottom: 0px;
  color: #bea6d4;
  text-align: center;
}

.cardpara {
  font-size: 28px;
  font-family: 'Varela Round';
  margin-top: 8px;
  margin-bottom: 4px;
  color: #bea6d4;
  text-align: center;
}

.complaintcards {
  margin-top: 375px;
  margin-left: 150px;
  position: absolute;
}

.complaintcard {
  box-shadow: 0 4px 8px 0 #bea6d4;
  transition: 0.3s;
  width: 700px;
  height: 300px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  margin: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.complaintcard::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

.eachcompcard {
  transition: 0.3s;
  background-color: #bea6d4;
  width: 600px;
  height: 110px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eachblogcard {
  transition: 0.3s;
  background-color: lightpink;
  width: 600px;
  height: 110px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.complaintcardname {
  margin: 0px;
  margin-left: 8px;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-family: 'Varela Round';
  font-size: 14px;
  color: white;
}

.complaintcardtag {
  margin: 0px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: 'Varela Round';
  font-size: 10px;
  color: white;
}

.complaintcardmsg {
  margin: 0px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  font-family: 'Varela Round';
  font-size: 12px;
  color: white;
}

.morebtn:before {
  background: url('/img/blog/more.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  background-color: #ffb6c1;
  border: none;
}

.morebtn {
  font-family: 'Varela Round';
  width: 90px;
  height: 20px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #ffb6c1;
  outline: none;
}

.morebtn :after {
  border: none;
}

.morebtnone:before {
  background: url('/img/blog/more.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 30px;
  background-color: #bea6d4;
  border: none;
}

.morebtnone {
  font-family: 'Varela Round';
  width: 90px;
  height: 20px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #bea6d4;
  outline: none;
}

.morebtnone :after {
  border: none;
}

.closebtn:before {
  background: url('/img/blog/close.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
  background-color: white;
  border: none;
}

.closebtn {
  font-family: 'Varela Round';
  color: white;
  cursor: pointer;
  border: none;
  background-color: white;
  outline: none;
}

.closebtn :after {
  border: none;
}

.upvotebtn:before {
  background: url('/img/blog/upvote.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  padding-bottom: 2px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 15px;
  background-color: #bea6d4;
  border: none;
}

.upvotebtn {
  margin-left: 12px;
  border-radius: 8px;
  padding-top: 4px;
  font-family: 'Varela Round';
  width: 90px;
  height: 28px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #bea6d4;
  outline: none;
}

.upvotebtn :after {
  border: none;
}

.upvotebtnone:before {
  background: url('/img/blog/upvote.svg') no-repeat scroll center center / 100%
    auto rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  color: #fff;
  height: 15px;
  padding-bottom: 2px;
  margin-right: 4px;
  position: relative;
  vertical-align: middle;
  width: 15px;
  background-color: lightpink;
  border: none;
}

.upvotebtnone {
  margin-left: 12px;
  border-radius: 8px;
  padding-top: 4px;
  font-family: 'Varela Round';
  width: 90px;
  height: 28px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: lightpink;
  outline: none;
}

.upvotebtnone :after {
  border: none;
}

h1 {
  color: #55396d;
  font-size: 28px;
  font-family: 'Varela Round';
  margin-top: 50px;
  margin-left: 150px;
  font-weight: bold;
  position: absolute;
}

.eleblogcard {
  transition: 0.3s;
  background-color: lightpink;
  width: 90%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eleblogcardname {
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Varela Round';
  font-size: 18px;
  color: white;
}

.eleblogcardmsg {
  margin: 0px;
  font-family: 'Varela Round';
  font-size: 16px;
  color: white;
}

.elecompcard {
  transition: 0.3s;
  background-color: #bea6d4;
  width: 90%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.elecompcardname {
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Varela Round';
  font-size: 18px;
  color: white;
}

.elecompcardtag {
  margin: 0px;
  font-family: 'Varela Round';
  font-size: 16px;
  color: white;
}

.elecompcardmsg {
  margin: 0px;
  font-family: 'Varela Round';
  font-size: 16px;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

.modal-content::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cmttext {
  padding: 8px;
  width: 75%;
  margin-left: 8px;
  border: 0;
  font-family: 'Varela Round';
  font-size: 14px;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.cmtbtn {
  width: 15%;
  padding: 6px;
  margin-right: 5%;
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background: white;
  float: right;
  display: block;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.cmtbtn:hover {
  color: white;
  background-color: #79648d;
}

.cmtbtnone {
  width: 15%;
  padding: 6px;
  margin-right: 5%;
  border: 0;
  font-family: 'Varela Round';
  font-size: 16px;
  background: white;
  float: right;
  display: block;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.cmtbtnone:hover {
  color: white;
  background-color: #ff7086;
}

.replybtn {
  width: 10%;
  padding: 4px;
  border: 0;
  font-family: 'Varela Round';
  margin-left: 8px;
  font-size: 10px;
  background: white;
  display: block;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.replybtn:hover {
  color: white;
  background-color: #79648d;
}

.replybtnone {
  width: 10%;
  padding: 4px;
  border: 0;
  font-family: 'Varela Round';
  margin-left: 8px;
  font-size: 10px;
  background: white;
  display: block;
  text-align: center;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.replybtnone:hover {
  color: white;
  background-color: #ff7086;
}

.allcomments {
  width: 90%;
  position: relative;
  background-color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.cmt {
  display: block;
  position: relative;
  margin-top: 12px;
  /* width: 90%; */
  background-color: white;
  color: white;
  border-radius: 5px;
}

.avatar {
  position: absolute;
  top: 8px;
  left: 8px;
}

.avatar-img {
  width: 50px;
  height: 50px;
}

.cmt-content {
  /* position: absolute;
  float: left; */
  width: 90%;
  background-color: #bea6d4;
  border-radius: 4px;
  padding: 0px 3px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.cmt-contentone {
  /* position: absolute;
  float: left; */
  width: 90%;
  background-color: lightpink;
  border-radius: 4px;
  padding: 0px 3px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.replies {
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar {
  position: absolute;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 30px;
  padding: 0;
  padding-top: 10px;
  width: 50px;
  height: 600px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  background-color: #21033b;
}

/* ul li img {
    
  } */
/* 
 ul li img:hover {

  } */
