body{
    margin: 0;
    padding: 0;
}



.homebackground{
 
  position: absolute;
  right: 0;
  bottom: 0;
  height: 500px;
  width: 500px;

}



.navimage{
    width: 20px;
    height: 20px;
    display: block;
    color: white;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navimage :hover{
  background-color:#55396D;
  color: white;
  display: block;

}

.maincard{

  width: 250px;
  height: 110px;
  margin-top: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 #BEA6D4;
  border-radius: 10px;
  position: absolute;
  right: 0;
  text-align: center;

}

.maincardimg{

  width: 70px;
  height: 70px;
  margin: 20px;
}

.maincardcontainer{
  padding: 2px 16px; 
}

.maincardpara{

  font-size: 16px;
  font-family: "Varela Round";
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #21033B;
  text-align: left;

}

.maincard:hover{
  box-shadow: 0 8px 16px 0 #FFD800;
}

.maincard:hover .maincardpara{

  color : #FFD800
}


.cards{

  margin-top: 125px;
  margin-left: 100px;
  position: absolute;

}

.card {
  box-shadow: 0 4px 8px 0 #BEA6D4;
  transition: 0.3s;
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 50px;
  border-radius: 5px;
}


.card:hover .cardpara{
 
  color: #FFD800;
}

.cardimg {
  border-radius: 5px 5px 0 0;
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.container {
  padding: 2px 16px;
}


.cardhead{

  font-size: 24px;
  font-family: "Varela Round";
  margin-top: 4px;
  margin-bottom: 0px;
  color: #BEA6D4 ;
  text-align: center;
}

.cardpara{

  font-size: 28px;
  font-family: "Varela Round";
  margin-top: 8px;
  margin-bottom: 4px;
  color: #BEA6D4;
  text-align: center;
}

.complaintcards{
  margin-top: 375px;
  margin-left: 150px;
  position: absolute;
}

.complaintcard{
  box-shadow: 0 4px 8px 0 #BEA6D4;
  transition: 0.3s;
  width: 700px;
  height: 300px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  margin: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.complaintcard::-webkit-scrollbar{
  display: none;
  width: 0px;
  height: 0px;
}


.eachcompcard{
  transition: 0.3s;
  background-color: #BEA6D4;
  width: 600px;
  height: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eachblogcard{
  transition: 0.3s;
  background-color: lightpink;
  width: 600px;
  height: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.complaintcardname{
  margin: 0px;
  margin-left: 8px;
  padding-top: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-family: "Varela Round";
  font-size: 14px;
  color: white;
}

.complaintcardtag{
  margin: 0px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: "Varela Round";
  font-size: 10px;
  color: white;
}

.complaintcardmsg{
  margin: 0px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 4px;
  font-family: "Varela Round";
  font-size: 12px;
  color: white;
}

h1{

  color:#55396D;
  font-size: 28px;
  font-family: "Varela Round";
  margin-top: 50px;
  margin-left: 150px;
  font-weight: bold;
  position: absolute;

}


.eleblogcard{
  transition: 0.3s;
  background-color: lightpink;
  width: 90%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.eleblogcardname{
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Varela Round";
  font-size: 18px;
  color: white;
}

.eleblogcardmsg{
  margin: 0px;
  font-family: "Varela Round";
  font-size: 16px;
  color: white;
}

.elecompcard{
  transition: 0.3s;
  background-color: #BEA6D4;
  width: 90%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.elecompcardname{
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Varela Round";
  font-size: 18px;
  color: white;
}

.elecompcardtag{
  margin: 0px;
  font-family: "Varela Round";
  font-size: 16px;
  color: white;
}

.elecompcardmsg{
  margin: 0px;
  font-family: "Varela Round";
  font-size: 16px;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

.modal-content::-webkit-scrollbar{
  display: none;
  width: 0px;
  height: 0px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.allcomments{
  width: 90%;
  position: relative;
  background-color: white;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.cmt{
  display: block;
  position: relative;
  width: 90%;
  background-color: #BEA6D4;
  color: white;
  border-radius: 5px;
}

.avatar{
  position: absolute;
  top: 8px;
  left: 8px;
}

.avatar-img{
  width: 50px;
  height: 50px;
}

.cmt-content{
  /* position: absolute;
  float: left; */
  padding: 0px 3px;
  padding-bottom: 8px;
  padding-top: 4px;
}

.replies{
  margin-bottom: 8px;
}

.navbar {
  position: absolute;
    list-style-type: none;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0;
    padding-top: 10px;
    width: 50px;
    height: 600px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    background-color: #21033B;
  }
  
 /* ul li img {
    
  } */
/* 
 ul li img:hover {

  } */

  
  